:root {
    --THEME_COLOR_BACKGROUND : #3333CC;
    --THEME_COLOR_FONT : #fff;
    --THEME_COLOR_BORDER : #33FFFF;
    --COLOR_CONTENT_ADMIN : #ffc000;
    --ON_TOGGLE : #00FF66;
    --OFF_TOGGLE : #FF3333;
    --AUTO_TOGGLE : #0099FF;
}